.button {
  display: block;
  padding: 11px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: 0;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

.button--main-item {
  width: 100%;
  padding: 9px;
  font-size: 16px;
  line-height: 20px;
}

.button--show-more {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb;
  }
}

.button--other-item {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

.button--form-submit {
  width: 100%;
  margin-bottom: 21px;
  padding-top: 9px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .button--show-more {
    margin-bottom: 0;
  }

  .button--other-item {
    width: 100%;
    margin-top: 6px;
    padding-bottom: 10px;
  }

  .button--form-submit {
    width: 283px;
    margin-right: 62px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .button--other-item {
    width: 245px;
    margin-top: 15px;
  }

  .button--form-submit {
    width: 569px;
    margin-right: 82px;
  }
}
