.categories {
  position: relative;

  // margin: 20px;
  // padding: 20px;

  margin-top: 22px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;


  line-height: 18px;
  color: #444444;

  background-color: #f2f2f2;

  &::after {
    content: "";
    position: absolute;
    bottom: 57px;
    left: 20px;

    width: calc(100% - 40px);
    height: 1px;

    background-color: #d9d9d9;
  }
}

.categories__title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 28px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: @oswald;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.categories__description {
  margin: 0;
  padding-bottom: 41px;
}

.categories__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: @oswald;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}
