.how-work {
  width: 320px;
  margin: 20px auto;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 18px;
  color: #444444;
  outline: 1px solid red;
}

.how-work__title {
  margin: 0;
  padding-bottom: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: @oswald;
  color: #111111;
}

.how-work__list {
  .list-reset;
}

.how-work__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;
  outline: 1px dotted blue;
}

.how-work__description {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .how-work {
    width: @tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }

  .how-work__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .how-work__item {
    width: 324px;
    padding-left: 0;
  }

  .how-work__description {
    width: 210px;
  }
}

@media (min-width: @desktop-width) {
  .how-work {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;
  }

  .how-work__item {
    width: 245px;
    padding-left: 0;
  }
}
