.how-work {
  margin: 20px;

  line-height: 18px;
  color: #444444;
}

.how-work__title {
  margin: 0;
  padding-bottom: 27px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: @oswald;
  color: #111111;
}

.how-work__list {
  .list-reset;
}

.how-work__item {
  position: relative;

  padding-bottom: 26px;
  padding-left: 80px;
}

.how-work__description {
  margin: 0;
}
