.main-item {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  border: 1px solid #ededed;
}

.main-item__list {
  .list-reset;
}

.main-item__item {
  display: flex;
  flex-wrap: wrap;
}

.main-item--show-more {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 50%;
    width: 2px;
    height: 30px;
    margin-left: -1px;
    background-color: #d3d3d3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    background-color: #d3d3d3;
  }
}


.main-item__img-link {
  width: 50%;
  margin: 0 auto;
  text-decoration: none;
}

.main-item__link {
  padding-right: 60px;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}

.main-item__title {
  margin: 0;
}

.main-item__description {
  width: 50%;
  padding-top: 21px;
}

.main-item__options {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.main-item__main-paragraph {
  margin: 0;
  padding-top: 79px;
  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  color: #111111;
  text-transform: uppercase;
}

.main-item__subparagraph {
  margin: 0;
  padding-top: 8px;
}

@media (min-width: @tablet-width) {
  .main-item {
    width: @tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }

  .main-item__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-item__item {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 323px;
    padding-right: 38px;
    padding-left: 38px;
    background-color: #f2f2f2;
  }

  .main-item__item--show-more {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
  }

  .main-item__img-link {
    width: unset;
  }

  .main-item__description {
    width: unset;
  }

  .main-item__link {
    display: block;
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 0;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .main-item {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;
  }

  .main-item__item {
    width: 245px;
  }

  .main-item__link {
    margin-right: 10px;
    margin-left: 10px;
  }
}
