.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.page-footer__logo {
  padding-top: 38px;
  padding-bottom: 29px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  padding-top: 22px;
  padding-right: 11px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .list-reset;
}

.page-footer__social-item:not(:last-child) {
  margin-right: 38px;
}

.page-footer__htmlacademy {
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-footer__htmlacademy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-family: @arial;
  color: #444444;
  text-decoration: none;
}

.page-footer__htmlacademy-logo,
.page-footer__social-link--vk svg,
.page-footer__social-link--instagram svg,
.page-footer__social-link--facebook svg {
  fill: #666666;
}

.page-footer__htmlacademy-link:hover .page-footer__htmlacademy-logo,
.page-footer__social-link--vk:hover svg,
.page-footer__social-link--instagram:hover svg,
.page-footer__social-link--facebook:hover svg {
  fill: #68b738;
}

.page-footer__htmlacademy-link:active,
.page-footer__social-link--vk:active svg,
.page-footer__social-link--instagram:active svg,
.page-footer__social-link--facebook:active svg {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: @tablet-width;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-left: 30px;
  }

  .page-footer__logo {
    padding-top: 64px;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .page-footer__social {
    padding: 60px 0 0 18px;
    border-bottom: none;
  }

  .page-footer__social-item:not(:last-child) {
    margin-right: 28px;
  }

  .page-footer__social-link--vk svg {
    width: 30px;
    height: 16px;
  }

  .page-footer__social-link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .page-footer__social-link--facebook svg {
    width: 14px;
    height: 28px;
  }

  .page-footer__htmlacademy {
    padding-top: 58px;
    padding-bottom: 0;
  }

  .page-footer__htmlacademy-link {
    justify-content: flex-end;
  }

  .page-footer__htmlacademy-title {
    margin-right: 21px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1440px;
    padding-right: 110px;
    padding-bottom: 56px;
    padding-left: 110px;
  }
}
