.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.page-footer__logo {
  padding-top: 38px;
  padding-bottom: 29px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  padding-top: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .list-reset;
}

.page-footer__social-item:not(:last-child) {
  margin-right: 37px;
}


.page-footer__htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 16px;
}

.page-footer__htmlacademy-link {
  font-size: 16px;
  line-height: 16px;
  font-family: @arial;
  color: #444444;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: @tablet-width;
    min-height: 150px; //Временно
    padding-right: 30px;
    padding-left: 30px;
  }

  .page-footer__logo,
  .page-footer__social {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;
  }
}
