.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.page-footer > * {
  outline: 1px dotted green;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 29px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  min-height: 63px; //временно
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social-list {
  .list-reset;
}

.page-footer__htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 25px;
}

.page-footer__htmlacademy-link {
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: @tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1440px;
    padding-right: 110px;
    padding-left: 110px;
  }
}
